# See https://help.github.com/ignore-files/ for more about ignoring files.

# IDE
.idea

# dependencies
/node_modules

# scripts
/scripts/languages
/scripts/translations.csv

# testing
/coverage

# production
/build
/build-cs
/public/*
!/public/.htaccess
!/public/assets

# misc
.DS_Store
.env
.env.local
.env.dev
.env.dev.local
.env.test.local
.env.prod
.env.prod.local
.env.stage
.env.stage.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
src/**/*.css
